.gujarat-container{
    max-width: 850px;
    margin: 60px auto;
    padding: 30px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.gujarat-title{
    text-align: center;
    font-size: 38px;
    color: #0b7a3b;
    margin-bottom: 20px;
}

.gujarat-text{
    font-size: 17px;
    line-height: 1.8;
    color: #444;
    margin-bottom: 15px;
    text-align: justify;
}

.gujarat-text:hover{
    color: #0b7a3b;
    transition: 0.3s;
} 