table {
  border-collapse: collapse;
  width: 300px;
  margin: auto;
}

td {
  padding: 20px;
  text-align: center;
}


table, tr, td {
  border: 1px solid black;
}
tr:hover{
    background-color: cyan;
}